<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %} Yt2Phone</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock head %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="icon" href="static/icon.png" type="image/png">

     <meta name="description" content="YT2phone helps to download YouTube videos in all formats audio, 720p , 360p, 480p and save them in all the devices pc, tablet, IOS."/>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Download YouTube Videos - Yt2phone">
    <meta property="og:description" content="YT2phone helps to download YouTube videos in all formats audio, 720p , 360p, 480p and save them in all the devices pc, tablet, IOS.">
    <meta property="og:image" content="https://yt2phone.com/static/og-yt2phone.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Download YouTube Videos - Yt2phone">
    <meta property="twitter:description" content="YT2phone helps to download YouTube videos in all formats audio, 720p , 360p, 480p and save them in all the devices pc, tablet, IOS.">
    <meta property="twitter:image" content="https://yt2phone.com/static/og-yt2phone.png">


    <link rel="apple-touch-icon" sizes="76x76" href="https://yt2phone.com/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://yt2phone.com/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://yt2phone.com/static/favicon-16x16.png">
<!--    <link rel="mask-icon" href="https://yt2phone.com/static/safari-pinned-tab.svg" color="#ff0068">-->
    <link rel="shortcut icon" href="https://yt2phone.com/static/favicon.ico">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">YT2Phone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" href="download_video">YouTube to mp4</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="download_audio">YouTube to mp3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/privacy_policy">Privacy Policy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact_us">Contact Us</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message: </strong> {{ message }}.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% block body %}{% endblock body %}

<footer class="footer">

    <p>
        <span style="display:block; text-align:center; margin:10px;">Copyright © 2022 YT2Phone.com</span></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


</body>
</html>