{% extends 'base.html' %}

{% block body %}
<div class="box" style="padding:40px; border:none;">
    <h1 style="color:#aa336a">
        Disclaimer Yt2Phone
    </h1>

    <p>
        <strong>Yt2Phone.com</strong> respects the intellectual property rights of
        others, and requests you to do the same. <strong>Yt2Phone.com</strong> does not permit infringement
        of intellectual property rights on its platform, and will promptly suspend
        commercial content (served via a publicly available web address / URL) from being able
        be converted and downloaded by its platform when kindly notified.
        <br><br>
        If you are a content creator / owner or an agent thereof and would like to
        disable the possible use of <strong>Yt2Phone.com</strong>'s platform to convert
        your publicly available content(s), please kindly send us a request through
        <a href="contact_us">Contact Us</a>. If you are a proven owner of the content,
        the content URL will be blacklisted within 3-5 business days.

        <br><br>

        In the message you can send us
        <br>&nbsp; - The URL(s) of the content(s) you want to block.
        <br>&nbsp; - Other quires regarding our service.

    </p>
</div>

{% endblock body %}